<!DOCTYPE html>
<html>
	<head>
	  <title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
			<li><a href="mailto:dundun@wisc.edu">Email</a></li>
			<li><a href="https://irobotyze.github.io">iRobotyze Site</a></li>
			<li><a href="https://icarts.shop">iCarted Site</a></li>
			<li><a href="https://github.com/ryandundun">My Git-Account</a></li>
			<li><a href="https://github.com/iRobotyze">iRobotyze Git-Account</a></li>
        		
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    {{ content }}
    		<div class="blurb">
       
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:dundun@wisc.edu">Email</a></li>
        		<li><a href="https://irobotyze.github.io">iRobotyze Site</a></li>
			<li><a href="https://icarts.shop">iCarted Site</a></li>
			<li><a href="https://github.com/ryandundun">My Git-Account</a></li>
			<li><a href="https://github.com/iRobotyze">iRobotyze Git-Account</a></li>
			</ul>
		</footer>
	</body>
</html>
