<!DOCTYPE html>
<html>
	<head>
	  <title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    {{ content }}
    		<div class="blurb">
        		<h1>Hi there, I'm Ryan Dundun</h1>
				<p>This site is made with a combination of HTML code that is linked to a CSS code file.
			I am currently working on automating repetitive tasks to save time at <a href="https://irobotyze.github.io">iRobotyze</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:dundun@wisc.edu">Email</a></li>
        		<li><a href="https://icarts.shop">iCarted</a></li>
			<li><a href="https://github.com/ryandundun">My Git Account</a></li>
			</ul>
		</footer>
	</body>
</html>
